h1 {
  color: red;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://raw.githubusercontent.com/algotables/algotables.github.io/main/loading3.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.footer,
.header {
  background-color: #ffffff;
}

.footer .social,
.header .social {
  text-align: center;
  padding-bottom: 10px;
  color: #4b4c4d;
}

.footer .social a,
.header .social .a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover,
.header .social a:hover {
  opacity: 0.9;
}

.footer ul,
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.footer ul a,
.header ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li,
.header ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover,
.header ul a:hover {
  opacity: 1;
  color: rgb(105, 166, 213);
}

.footer .copyright,
.header .tiny {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.footer .normal,
.header .normal {
  text-align: center;
  font-size: 13px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-image: none !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  display: none;
}

.dt-button,
.input-sm {
  margin-top: 4px;
  display: block;
  float: left;
  border: 0;
}

.input-sm {
  margin-top: 7px;
}

.chart {
  width: 100%;
  min-height: 450px;
}

.row {
  margin: 0 !important;
}

.info_div_name,
.info_div_time,
.info_div_note {
  display: block;
}

.info_div_name123456 {
  margin-bottom: 100px;
  display: block;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

#example0_info,
#example8_info,
#example9_info,
#table-csv0-table_info,
#table-csv0-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv1-table_info,
#table-csv1-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv2-table_info,
#table-csv2-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv3-table_info,
#table-csv3-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv4-table_info,
#table-csv4-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv5-table_info,
#table-csv5-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv6-table_info,
#table-csv6-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv7-table_info,
#table-csv7-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv8-table_info,
#table-csv8-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv9-table_info,
#table-csv9-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv10-table_info,
#table-csv10-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv11-table_info,
#table-csv11-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv12-table_info,
#table-csv12-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv13-table_info,
#table-csv13-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv14-table_info,
#table-csv14-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv15-table_info,
#table-csv15-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv16-table_info,
#table-csv16-table_wrapper > div.dtsb-searchBuilder > div.dtsb-titleRow,
#table-csv0-table_wrapper > div:nth-child(5) > label > input,
#table-csv1-table_wrapper > div:nth-child(5) > label > input,
#table-csv2-table_wrapper > div:nth-child(5) > label > input,
#table-csv3-table_wrapper > div:nth-child(5) > label > input,
#table-csv4-table_wrapper > div:nth-child(5) > label > input,
#table-csv5-table_wrapper > div:nth-child(5) > label > input,
#table-csv6-table_wrapper > div:nth-child(5) > label > input,
#table-csv7-table_wrapper > div:nth-child(5) > label > input,
#table-csv8-table_wrapper > div:nth-child(5) > label > input,
#table-csv9-table_wrapper > div:nth-child(5) > label > input,
#table-csv10-table_wrapper > div:nth-child(5) > label > input,
#table-csv11-table_wrapper > div:nth-child(5) > label > input,
#table-csv12-table_wrapper > div:nth-child(5) > label > input,
#table-csv13-table_wrapper > div:nth-child(5) > label > input,
#table-csv14-table_wrapper > div:nth-child(5) > label > input,
#table-csv15-table_wrapper > div:nth-child(5) > label > input,
#table-csv16-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}

.container {
  margin: auto;
  padding: 10px;
}

.container2 {
  padding-top: 0;
}

.one {
  width: 50%;
  height: 200px;
  float: left;
}

.two {
  margin-left: 50%;
  height: 200px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}

.slide-track2 {
  animation: scroll 32s linear infinite;
  display: flex;
  width: calc(200px * 18);
}

.slide {
  background: #191c1d;
  border: 1px solid rgba(204, 204, 204, 0.2);
  text-align: center;
  width: 200px;
}

a.active {
  background: #242424;
}

.slide:hover {
  background-color: #4e4d4d28;
}

.slide-track:hover,
.slide-track2:hover {
  animation-play-state: paused;
}

.fe-line-chart.embed-container {
  background-color: rgb(24, 26, 27);
}

.truncate2 {
  max-width: 1400px;
  margin-top: 0;
  margin-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate3 {
  max-width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  float: left;
}

* {
  box-sizing: border-box;
}

nav {
  overflow: hidden;
  background-color: #330b7c;
  padding: 10px;
}

.links {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

nav .logo {
  font-size: 25px;
  font-weight: bold;
}

nav .links:hover {
  background-color: rgb(214, 238, 77);
  color: rgb(42, 10, 94);
}

nav .selected {
  background-color: dodgerblue;
  color: white;
}

.rightSection {
  float: right;
}

@media screen and (max-width: 870px) {
  nav .links {
    float: none;
    display: block;
    text-align: left;
  }

  .rightSection {
    float: none;
  }
}

/* Slider */
.slick-slide {
  margin: 0 1px;
}

.logo-carousel {
  overflow: inherit;
}

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}

body {
  background-color: #010101;
}

.row {
  overflow: hidden;
}

.logo-carousel {
  margin-top: 0;
  margin-bottom: 0;
}

.cr-currency,
.cr-price,
.vol {
  text-align: center;
  font-size: 8pt;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: rgb(24, 26, 27);
  padding: 0 15px;
  border: 1px solid rgb(57, 57, 57);
  text-align: center;
}

.header a {
  color: #aaa;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 15px;
  color: #aaa;
}

.header a:hover {
  background: #222527;
  color: rgb(105, 166, 213);
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }

  .header-right {
    float: none;
  }
}