/* Put your css in here */

h1 {
    color: red;
  }

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://raw.githubusercontent.com/algotables/algotables.github.io/main/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  }*/
  
  /*table#example0.dataTable tbody tr:hover,table#example1.dataTable tbody tr:hover,table#example2.dataTable tbody tr:hover,
  table#example3.dataTable tbody tr:hover,table#example4.dataTable tbody tr:hover,table#example5.dataTable tbody tr:hover {
    background-color: #ddf2ff8d;
  }*/ /*doesn't work properly*/

  .footer, .header {
    /*padding: 40px 0;*/
    background-color: #ffffff;
  }
  
  .footer .social, .header .social {
    text-align: center;
    padding-bottom: 10px;
    color: #4b4c4d;
  }
  
  .footer .social a, .header .social .a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  
  .footer .social a:hover, .header .social a:hover {
    opacity: 0.9;
  }
  
  .footer ul, .header ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer ul a, .header ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer ul li, .header ul li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .footer ul a:hover, .header ul a:hover {
    opacity: 1;
  }
  
  .footer .copyright, .header .tiny {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }
  
  .footer .normal, .header .normal {
    /*margin-top: 15px;*/
    text-align: center;
    font-size: 13px;
  }  

  table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-image: none!important;
}

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after {
      display: none;
  }

  .dt-button {
    margin-top: 4px;
    display:block;
    float:left;
    border:0;
    /*padding: 10px 1px 10px 1px !important*/
  }

  .input-sm {
    margin-top: 7px;
    display:block;
    float:left;
    border:0;
    /*padding: 10px 1px 10px 1px !important*/
  }  

  .chart {
    width: 100%; 
    min-height: 450px;
  }
  .row {
    margin:0 !important;
  }

  /*table, th, td {
    border:1px solid black;
  }

  .container2 {
    height: 125px;
    margin: auto;
  }
  
  .one2 {
    height: 125px;
    display: inline-block;
    float: left;
  }
  
  .two2 {
    height: 125px;
    display: inline-block;
    float: left;
  }

  .two3 {
    height: 125px;
    display: inline-block;
    float: left;
  }

  .two4 {
    height: 125px;
    display: inline-block;
    float: left;
  }*/

.info_div_name {
    /*width:50%;
    height:auto;
    padding: 5px 0px 5px 10px;
    float:left;*/
    display:block;
}

.info_div_name123456 {
  /*width:50%;
  height:auto;
  padding: 5px 0px 5px 10px;
  float:left;*/
  margin-bottom: 100px;
  display:block;
}

.info_div_time {
    /*width:50%;
    height:auto;
    padding: 5px 10px 5px 0px;
    float:right;*/
    display:block;
}

.info_div_note {
  /*clear: both;
  width: inherit;
  height: auto;
  position: static;
  padding: 0px 10px 5px 10px;*/
  display:block;
  } 

  tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

/* Hmmm @ below... */
@media (max-width: 720px) {
  .container { display: none; }
}

#example0_info {
  visibility: hidden;
  display: none;
}
#example8_info {
  visibility: hidden;
  display: none;
}
#example9_info {
  visibility: hidden;
  display: none;
}

#table-csv0-table_info {
  visibility: hidden;
  display: none;
}

#table-csv1-table_info {
  visibility: hidden;
  display: none;
}

#table-csv2-table_info {
  visibility: hidden;
  display: none;
}

#table-csv3-table_info {
  visibility: hidden;
  display: none;
}

#table-csv4-table_info {
  visibility: hidden;
  display: none;
}

#table-csv5-table_info {
  visibility: hidden;
  display: none;
}

#table-csv6-table_info {
  visibility: hidden;
  display: none;
}

#table-csv7-table_info {
  visibility: hidden;
  display: none;
}
#table-csv8-table_info {
  visibility: hidden;
  display: none;
}
#table-csv9-table_info {
  visibility: hidden;
  display: none;
}
#table-csv10-table_info {
  visibility: hidden;
  display: none;
}
#table-csv11-table_info {
  visibility: hidden;
  display: none;
}
#table-csv12-table_info {
  visibility: hidden;
  display: none;
}
#table-csv13-table_info {
  visibility: hidden;
  display: none;
}

#table-csv0-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv1-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv2-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv3-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv4-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv5-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv6-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv7-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv8-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv9-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv10-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv11-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv12-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#table-csv13-table_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}

#example0_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#example8_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}
#example9_wrapper > div:nth-child(5) > label > input {
  visibility: hidden;
  display: none;
}

.container {
  width: 80%;
  height: 200px;
  /*background: aqua;*/
  margin: auto;
  padding: 10px;
}

.one {
  width: 50%;
  height: 200px;
  /*background: red;*/
  float: left;
}

.two {
  margin-left: 50%;
  height: 200px;
  /*background: black;*/
}

.myDiv {
  text-align: left;
}


/*#example8 {
  padding-left: 50px;
  padding-right: 50px;
}*/ 
  

/*
    table.dataTable th {
      font-size: 0.75em;
    }
    table.dataTable td {
      font-size: 0.5em;
      font-weight: bold;
    }
    */

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-156.25px * 7));
      }
    }
    
    .slide-track {
      animation: scroll 240s linear infinite;
      display: flex;
    }

    .slide-track:hover  {
      animation-play-state: paused;
      /*animation: none;*/
      /*animation-name: tonext, snap;
      animation-duration: 4s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;*/
    }

    .fe-line-chart.embed-container {
        background-color: rgb(24, 26, 27);
    }

    /*.truncate {
      max-width:100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }*/

    .truncate2 {
      max-width:1400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }